<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Get your AppSID and AppKey at https://dashboard.groupdocs.cloud (free registration is required). -->
    <add key="AppSID" value="ace0bf10-f885-4000-b6ea-4290030d8a88"/>
    <add key="AppKey" value="1fca6627bd234714a8986ff0328fd810"/>
    <add key="ApiBaseUrl" value="http://api-qa.groupdocs.cloud"/>
  </appSettings>
</configuration>
